body {
    background-color: #fcf8e2;
    font-size: 24px;
    font-family: "Times New Roman", Times, serif;
    margin: 0;
}

h2, h3 {
    text-align: center;
    border-bottom: 2px dotted #000000;
}

a:hover {
    background-color: yellow;
}

.banner {
    height: 361px;
    overflow: hidden;
    position: relative;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0% 20%;
}

.content {
    width: 70%;
    border: 2px solid #f6b0b3;
    border-radius: 20px;
    padding: 10px 70px;
    margin: auto;
}

.color-blue {
    background-color: #ccedfc;
}

.container {
    padding: 30px;
}

.nested-list>li {
    font-weight: bold;
}

.nested-list>li>ul>li {
    font-weight: normal;
}

.title-block {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    color: black;
    text-shadow: 2px 2px 4px rgba(15, 15, 15, 0.3);
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 10px;
}

